<div [ngStyle]="{'background-image': geturl(),'background-size':getsize(),'height': '70%','background-position':'center','opacity':'3'}">
<h1 style="color:darkblue;font-family:tahoma">Contact Us through:</h1>
<h3 style="color:black">Mobile: <h1 style="color:blue">8345945224</h1> </h3>
<h3 style="color:black">Phone: <h1 style="color:blue">057-78-99819</h1> </h3>
<h3 style="color:black">Email: <h1 style="color:blue">OnlineLegends123@gmail.com</h1> </h3>
<h3 style="color:black">Facebook: <h1 style="color:blue">Jackiebarman19</h1> </h3>
<h3 style="color:black">Instagram: <h1 style="color:blue">TESTStoMAKE_U_PERFECT</h1> </h3>
<h3 style="color:black">Twitter: <h1 style="color:blue">tweetONlineTest</h1> </h3>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</div>