<div style="background-color:blue">
<h1>WELCOME TO OUR QUESTION BANK </h1>
<a style="color:white" routerLink="assets/jee2020.pdf">Previous year (JEE MAIN 2020)</a> <mark style="color:red">NEW</mark><br/>

<a style="color:white" href="https://jeemain.nta.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&amp;ii=39&amp;iii=Y">Previous year (JEE MAIN 2019)</a><br/>
<a style="color:white" href="https://jeemain.nta.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&amp;ii=39&amp;iii=Y">Previous year (JEE MAIN 2018)</a><br/>
<a style="color:white" href="https://jeemain.nta.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&amp;ii=39&amp;iii=Y">Previous year (JEE MAIN 2017)</a><br/>
<a style="color:white" href="https://jeemain.nta.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&amp;ii=39&amp;iii=Y">Previous year (JEE MAIN 2017)</a><br/>
<a style="color:white" href="https://jeemain.nta.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&amp;ii=39&amp;iii=Y">Previous year (JEE MAIN 2016)</a><br/>
<a style="color:white" href="https://jeemain.nta.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&amp;ii=39&amp;iii=Y">Previous year (JEE MAIN 2015)</a><br/>
<a style="color:white" href="https://jeemain.nta.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&amp;ii=39&amp;iii=Y">Previous year (JEE MAIN 2014)</a><br/>
</div>
<div style="height:730px;background-color:blue">
</div>