<div [ngStyle]="{'background-image': geturl(),'background-size':getsize(),'height': '100%','background-position':'center'}">
<h1 style="color:white;position:absolute;left:20%;top:20%;transform:translate(-50%,-50%)">WELCOME <strong>{{students[1].name}}</strong></h1>
<h2 style="color:white;position:absolute;left:20%;top:25%;transform:translate(-50%,-50%)">ID   : 181IT211 </h2>
<h2 style="color:white;position:absolute;left:20%;top:30%;transform:translate(-50%,-50%)">Name : {{students[1].name}} </h2>
<h2 style="color:white;position:absolute;left:20%;top:35%;transform:translate(-50%,-50%)">Email : {{students[1].email}} </h2>
<h2 style="color:white;position:absolute;left:20%;top:40%;transform:translate(-50%,-50%)">Password : {{students[1].password}} </h2>
<h2 style="color:white;position:absolute;left:20%;top:45%;transform:translate(-50%,-50%)">Your Score : 0 </h2>
<h2 style="color:white;position:absolute;left:20%;top:50%;transform:translate(-50%,-50%)">Your Rank : 1219 </h2>
 <img src = "assets/scholar.jpg" style="width:250px;height:250px;border-radius: 50%;position:absolute;left:50%;top:45%;transform:translate(-50%,-50%)"/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/>
</div>
<div style="background-color:black;height:55px"></div>
