<div [ngStyle]="{'background-image': geturl(),'background-size':getsize(),'height': '120%','background-position':'center'}">
<div class="jk">
 <button style="color:blue;background-color:white;font-family:tahoma;border-radius: 40%;position:absolute;left:51%;top:25%;transform:translate(-50%,-50%)" routerLink="/login" class="btn btn-success" ><h1>LET'S START</h1></button>
<button routerLink="/login"><img src = "assets/online_edu.jpeg" style="width:250px;border-radius: 50%;position:absolute;left:20%;top:30%;transform:translate(-50%,-50%)"/></button>
<button routerLink="/login"><img src = "assets/onlinetest.jpg" style="width:250px;border-radius: 50%;position:absolute;left:80%;top:30%;transform:translate(-50%,-50%)"/></button>
<button routerLink="/login"><img src = "assets/online3.jpg" style="width:250px;border-radius: 50%;position:absolute;left:20%;top:60%;transform:translate(-50%,-50%)"/></button>
<button routerLink="/login"><img src = "assets/online.jpg" style="width:250px;border-radius: 50%;position:absolute;left:80%;top:60%;transform:translate(-50%,-50%)"/></button>
</div>
</div>
<div style="color:black;width:100%;height:30px;background-color:black">
</div>
